<h2 mat-dialog-title>Login</h2>

<mat-dialog-content>
    <form [formGroup]="mainForm">
        <mat-form-field class="w-100">
          <mat-label>Email</mat-label>
          <input matInput type="email" placeholder="Email" formControlName="email">
        </mat-form-field>
      
        <mat-form-field class="w-100">
          <mat-label>Password</mat-label>
          <input matInput type="password" placeholder="Password" formControlName="password">
        </mat-form-field>
      </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close class="mr-2">Close</button>
    <app-submit-button [disabled]="!mainForm?.valid" (action)="login()" [isSubmitting]="isSubmitting">Login</app-submit-button>
</mat-dialog-actions>