$positions: left, right, center;
$box-sizes: (
    "100": 100%,
    "75": 75%,
    "50": 50%,
    "25": 25%,
    "0": 0
);
$spacing-sizes: (
    "0": 0,
    "1": 0.25rem,
    "2": 0.5rem,
    "3": 0.75rem,
    "4": 1rem
);

@each $position in $positions {
  .text-align-#{$position} {
    text-align: $position;
  }
}

@each $name, $size in $box-sizes {
  .w-#{$name} {
    width: $size;
  }

  .h-#{$name} {
    height: $size;
  }
}

@each $name, $size in $spacing-sizes {
  .m-#{$name} {
    margin: $size;
  }

  .p-#{$name} {
    padding: $size;
  }

  .px-#{$name} {
    padding-left: $size;
    padding-right: $size;
  }

  .py-#{name} {
    padding-top: $size;
    padding-bottom: $size;
  }

  .ml-#{$name} {
    margin-left: $size;
  }

  .mr-#{$name} {
    margin-right: $size;
  }

  .mt-#{$name} {
    margin-top: $size;
  }

  .mb-#{$name} {
    margin-bottom: $size
  }

  .pl-#{$name} {
    padding-left: $size;
  }

  .pr-#{$name} {
    padding-right: $size;
  }

  .pt-#{$name} {
    padding-top: $size;
  }

  .pb-#{name} {
    padding-bottom: $size;
  }
}

// display options
$display-values: block, inline, inline-block, flex, inline-flex, grid, inline-grid;
$position-values: relative, absolute, fixed, sticky;
$overflow: hidden, visible, scroll, auto;

@each $display in $display-values {
  .d-#{$display} {
    display: $display;
  }
}

@each $position in $position-values {
  .position-#{$position} {
    position: $position;
  }
}

@each $overflow in $overflow {
  .overflow-#{$overflow} {
    overflow: $overflow;
  }

  .overflow-x-#{$overflow} {
    overflow-x: $overflow;
  }

  .overflow-y-#{$overflow} {
    overflow-y: $overflow;
  }
}

// flex options
$flex-directions: row, row-reverse, column, column-reverse;
$flex-wrap: wrap, nowrap, wrap-reverse;
$justify-content: start, end, center, space-between, space-around;
$align-items: stretch, flex-start, flex-end, center, baseline;
$align-content: stretch, flex-start, flex-end, center, space-between, space-around;

@each $direction in $flex-directions {
  .flex-#{$direction} {
    flex-direction: $direction;
  }
}

@each $wrap in $flex-wrap {
  .flex-wrap-#{$wrap} {
    flex-wrap: $wrap;
  }
}

@each $justify in $justify-content {
  .justify-content-#{$justify} {
    justify-content: $justify;
  }
}

@each $align in $align-items {
  .align-items-#{$align} {
    align-items: $align;
  }
}

@each $align in $align-content {
  .align-content-#{$align} {
    align-content: $align;
  }
}
