table {
    width: 100%;
  }
  
  tr.detail-row {
    height: 0;
  }
  
  tr.expanding-row:not(.expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.expanding-row:not(.expanded-row):active {
    background: #efefef;
  }
  
  .expanding-row td {
    border-bottom-width: 0;
  }
