<h1 class="text-align-center">Orders</h1>

<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab label="Today">
        @if (currentUser$ | async) {
            <div class="pt-4">
                <button mat-flat-button color="primary" disabled class="mb-2 mr-2"><mat-icon>library_books</mat-icon>Menu</button>
                <button mat-flat-button color="primary" class="mb-2" (click)="openCreateOrderDialog()"><mat-icon>add</mat-icon>Order</button>
            </div>

            <div class="p-2 text-align-right">
                <button mat-flat-button color="accent" [disabled]="!selectedItems.size" (click)="createGroupOrder()"><mat-icon>add</mat-icon>Group order</button>
            </div>

            <app-orders-table [hideFilter]="true" [hideDate]="true" [query]="todayOrderQuery" (selectedChange)="selectItem($event)" (copyOrder)="copyOrder($event)"></app-orders-table>
        } @else {
            <div class="m-4">Login to view content.</div>
        }
    </mat-tab>

    <mat-tab label="Passed days">
        <ng-template matTabContent>
            @if (currentUser$ | async) {
                <app-orders-table [hideDate]="false" [query]="passedOrderQuery" (copyOrder)="copyOrder($event)"></app-orders-table>
            } @else {
                <div class="m-4">Login to view content.</div>
            }
        </ng-template>
    </mat-tab>
</mat-tab-group>