<section class="text-align-center">
  <h1>Profile</h1>

  @if (member) {
    <p>{{ member.name }}</p>
    <p>{{ member.email }} </p>
    <img [src]="member.picture" alt="Profile image" width="100" height="100">
    <p>Balance: {{ member.balance }}</p>
  }
</section>

<mat-divider></mat-divider>

@if (isMyProfile) {
<section class="p-4 w-50">
  <h3>Update profile</h3>
  <form [formGroup]="mainForm">
    <mat-form-field class="w-100 mt-2">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" formControlName="name">
    </mat-form-field>

    <mat-form-field class="w-100 mt-2">
      <mat-label>Profile image url</mat-label>
      <input matInput placeholder="Enter image url" formControlName="picture">
    </mat-form-field>

    <button mat-flat-button color="primary" class="mt-2" aria-label="Add row" [disabled]="!mainForm.dirty || !mainForm.valid" (click)="update()">
      <mat-icon>save</mat-icon>
      Save
    </button>
  </form>
</section>
}

<section class="p-4 w-50">
  <h3>Transaction history</h3>

  @if (member) {
    <app-transactions [specificMemberId]="member.id"></app-transactions>
  }
</section>
