<h2 mat-dialog-title>Create order</h2>

<mat-dialog-content>
    @for (rowForm of mainForm.controls; track rowForm) {
    <form [formGroup]="rowForm">
        <mat-form-field class="w-100 mt-2">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Name" formControlName="name">
        </mat-form-field>

        <mat-form-field class="w-100">
            <mat-label>Unit price</mat-label>
            <input matInput type="number" placeholder="Unit price" formControlName="unitPrice">
        </mat-form-field>

        <mat-form-field class="w-100">
            <mat-label>Quantity</mat-label>
            <input matInput type="number" step="1" placeholder="Quantity" formControlName="quantity">
        </mat-form-field>

        <mat-form-field class="w-100">
            <mat-label>Note</mat-label>
            <textarea matInput placeholder="Note" formControlName="note"></textarea>
        </mat-form-field>
    </form>

    <div class="w-100 text-align-right">
        <button mat-flat-button color="primary" class="m-2" aria-label="Remove item" (click)="removeRowForm($index)">
            <mat-icon>cancel</mat-icon>
            Remove
        </button>
    </div>

    <mat-divider class="mb-2"></mat-divider>
    }

    <button mat-flat-button color="primary" class="m-2" aria-label="Add row" (click)="addRowForm()">
        <mat-icon>add</mat-icon>
        Item
    </button>

</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close class="mr-2">Close</button>
    <app-submit-button [disabled]="!mainForm.valid || !mainForm.dirty" (action)="create()"
        [isSubmitting]="isSubmitting">Create
    </app-submit-button>
</mat-dialog-actions>
