<section class="text-align-right p-2">
  @if (currentUser()) {
  <div>
    <span>Howdy, {{ currentUser().name }}!</span>

    <button class="ml-2" mat-stroked-button color="primary" [matMenuTriggerFor]="menu">
      <mat-icon>manage_accounts</mat-icon>
      Manage
    </button>

    <mat-menu #menu="matMenu">
      <a mat-menu-item routerLink="/my-profile">Profile</a>

      <a mat-menu-item routerLink="/orders">Orders</a>

      <a mat-menu-item routerLink="/group-orders">Group orders</a>
      
      <button mat-menu-item color="warn" (click)="logout()">Logout</button>

    </mat-menu>

  </div>
  } @else {
  <div class="m-2">
    <a mat-flat-button [href]="loginUrl">Login</a>
  </div>
  }

</section>
<mat-divider></mat-divider>