<div class="d-flex justify-content-space-between">
  <section class="text-align-left pt-2 pb-2 pl-4">
    <a mat-button class="mt-2" routerLink="/">
      <mat-icon>home</mat-icon>
      Home
    </a>
  </section>
  <section class="text-align-right p-2">
    @if (currentUser()) {
      <app-member-info [memberInfo]="currentUser()" align="end">
        <a mat-menu-item routerLink="/my-profile">Profile</a>

        <a mat-menu-item routerLink="/orders">Orders</a>

        <a mat-menu-item routerLink="/group-orders">Group orders</a>

        <button mat-menu-item color="warn" (click)="logout()">Logout</button>
      </app-member-info>

    } @else {
      <div class="m-2">
        <button mat-flat-button color="primary" (click)="login()">
          <mat-icon>login</mat-icon>
          Login
        </button>
      </div>
    }

  </section>
</div>

<mat-divider></mat-divider>