.badge {
  padding: 0.5em 1em;
  border-radius: 1em;
}

.badge-color-success {
  background-color: #28a745;
  color: white;
}

.badge-color-warning {
  background-color: #ffc107;
  color: white;
}

.badge-color-danger {
  background-color: #dc3545;
  color: white;
}

.badge-color-info {
  background-color: #17a2b8;
  color: white;
}